.FundoJapan{
    background-color: rgb(114, 45, 45);
}
body{
    background-image: url("GoldenTower.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
}
.Sussy{
    position:absolute;
    bottom:5px;
    color: rgb(68, 68, 67);
    font-family: sans-serif;
    width: 300px;
    height: 50px;
    font-size: 40px;

}

img{
    max-width: 1000px;
        height: auto;
    border-radius: 60px;
    border-top-color: gold;
  border-bottom-color: silver;
  border-right-color: silver;
  border-left-color: gold;
  border-width: 20px;
  border-style: ridge;
    box-shadow: 5px 5px 5px rgba(63, 27, 27, 0.5);
}